{% extends "base.html" %}

{% block main_content %}

<div class="page_header">
    <h1>{{name}}</h1>
</div>

    <h4>Selling: </h4>
    {% for book in selling %}
        <a href="{{url_for('book', id=book['id'])}}">{{book['title']}}</a>
        {% if loggedInUser == username %} 
            <span>
                <form id="soldStatus"> 
                    {% if book['sold_status'] == 1 %}
                        <input type="checkbox" name="markAsSold" value="{{book['id']}}" checked> Mark as Sold <br>
                        {% else %}
                        <input type="checkbox" name="markAsSold" value="{{book['id']}}"> Mark as Sold <br>
                    {% endif %}  
                </form> 
            </span>
        {% endif %}            
        </span>
    {% endfor %}

{% if loggedInUser != username %}    
    <h4>Contact Me</h4>
    <form method="POST" action="/send_mail/">
    <table id="contact">
        <p> Recipient: {{username+'@wellesley.edu'}} </p>
        <tr><td><label for="subject">Subject:</td>
            <td><input type="text" id="subject" name="subject" size="50"></td></tr>
        <tr><td colspan="2"><label for="body">Email:</td></tr>
        <tr><td colspan="2"><textarea rows=10 cols=60 id="body" name="body"></textarea></td></tr>
    </table>
        <input type="hidden" name="userEmail" value="{{username+'@wellesley.edu'}}">
        <input type="submit" name="submit" value="Send Email">
    </form>
{% endif %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    var URL = "{{url_for('updateSoldStatusAjax')}}"
</script>
<script src="{{url_for('static',filename='eventHandlers.js')}}"></script>

{% endblock %}

</html>