{% extends "base.html" %}

{% block main_content %}

<h1>{{name}}</h1>

    <h4>Selling: </h4>
    <ul>
    {% for book in selling %}
        <li>
            <a href="{{url_for('book', id=book['id'])}}">{{book['title']}}</a>
            {% if loggedInUser == username %}    
                <span><input type="checkbox" name="markAsSold" value="soldStatus"> Mark as Sold <br>
            {% endif %}            
            </span>
        </li>
    {% endfor %}
    </ul> 

{% if loggedInUser != username %}    
    <h4>Contact Me</h4>
    <form method="POST" action="/send_mail/">
    <table>
        <p> Recipient: {{username+'@wellesley.edu'}} </p>
        <tr><td><label for="subject">Subject:</td>
            <td><input type="text" id="subject" name="subject" size="50"></td></tr>
        <tr><td colspan="2"><label for="body">Email:</td></tr>
        <tr><td colspan="2"><textarea rows=10 cols=60 id="body" name="body"></textarea></td></tr>
    </table>
        <input type="hidden" name="userEmail" value="{{username+'@wellesley.edu'}}">
        <input type="submit" name="submit" value="Send Email">
    </form>
{% endif %}

{% endblock %}

</html>