{% extends "base.html" %}

{% block main_content %}

<p><em>Click here to return to the <a href="/">home page.</a></em></p>

<h1>Cracking the Coding Interview</h1>
<p>By: Gayle Laakmann McDowell</p>
<p>Price: $37.20</p>
<p>Sold Status: Unsold</p>
<p>Condition: Great</p>
<!-- <img src="crackingTheCodingInterview.jpg" alt="Cracking the Coding Interview Book Cover"> -->
<p>Seller: <a href="users.html">Wendy Wellesley</a></p>

<form method="POST" action="/addCart/">
    <input type="hidden" name="bookid" value="123">
    <input type="submit" name="submit" value="Add to Cart">
</form>

{% endblock %}

</html>