{% extends "base.html" %}

{% block main_content %}
<p>Click to <a href="{{ url_for('index') }}">return to the main page</a>.</p>

<h1>Your Cart</h1>
<p>Take a look at the books you're interested in!</p>

{% for book in cart.keys()%}
<div>
    <h2>Title</h2>
    <ul>
        <li>Author</li>
        <li>Course</li>
        <li>Price</li>
    </ul>
    <form method="post" action="">
        <input type="hidden" name="bookid" value="123">
        <input type="submit" name="submit" value="Remove from Cart">
    </form>
</div>


{% endfor %}

{% endblock %}
